@page
@model WesternCinemaAuth.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TheMovie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TheMovie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TheMovieGoer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TheMovieGoer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TicketCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TicketCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
